.trial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #1c1c1c;
  text-align: center;
  padding: 2rem;
}

.trial-content-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.trial-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.trial-image-wrapper img {
  rotate: 90deg;
  width: 15%;
  height: auto;
  display: block;
}

.trial-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Keyan-Coffee;
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-wrap: nowrap;
  z-index: 2;
}

.trial-text {
  display: block;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
  max-width: 800px;
  margin-top: 2rem;
  text-align: start;
  line-height: 1.6;
}

.trial-image {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .trial-section {
    height: 100vh;
  }

  .trial-heading {
    font-size: 5rem;
  }

  .trial-text {
    font-size: 18px;
    margin-top: 1rem;
  }

  .trial-image-wrapper img {
    width: 25%;
  }
  .trial-image {
    width: 45%;
  }
  
}

@media screen and (max-width: 480px) {
  .trial-section {
    flex-direction: column;
    height: auto;
  }

  .trial-heading {
    font-size: 3rem;
    text-wrap: nowrap;
  }

  .trial-text {
    font-size: 18px;
    margin: 1rem auto;
  }

  .trial-image {
    width: 100%;
  }

  .trial-image-wrapper img {
    width: 25%;
  }
}
