.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f5f5f5;
  text-align: center;
  
}

.about-content-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.about-image-wrapper img {
  rotate: 90deg;
  width: 15%;
  height: auto;
  display: block;
}

.about-heading {
  position: absolute; /* Position it on top of the gradient image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  font-family: Keyan-Coffee;
  font-size: 7rem;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  z-index: 2; /* Ensure it is above the image */
}

.about-text {
  display: block;
  font-size: 20px;
  font-family: sans-serif;
  color: #444;
  max-width: 800px;
  margin-top: 3rem;
  line-height: 1.6;
}

.grid-container {
  display: grid;
  padding: 0 15%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.grid-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.grid-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-variant: small-caps;
  font-family: Keyan-Coffee;
  color: #fff;
  z-index: 5;
}

.grid-item:hover h2 {
  transform: translate(-50%, -80%);
}

/* Stacked Cards Styles for Mobile */
.stacked-cards-container {
  display: none;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.stack-card {
  position: relative;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.stack-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.stack-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: Keyan-Coffee;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .grid-container {
    display: none;
  }

  .stacked-cards-container {
    display: flex;
  }

  .about-heading {
    font-size: 6rem;
    text-wrap: nowrap;
  }

  .about-image-wrapper img {
    width: 20%;
  }

  .about-text {
    font-size: 17px;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .about-heading {
    font-size: 3rem;
    text-wrap: nowrap;
  }

  .stacked-cards-container {
    display: flex;
  }

  .grid-container {
    display: none;
  }
  .about-image-wrapper img {
    width: 25%;
  }
}
