.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.178); /* Transparent white background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-menu a:hover {
    color: #007BFF; /* Highlight color on hover */
  }
  